.container-fluid
    .navbar.navbar-default
        ul.nav.navbar-nav.nav-pills
            li(ng-class="{active: activeView == 'table'}" ng-click="activeView = 'table'")
             a(href="") Таблица
            li(ng-class="{active: activeView == 'cards'}" ng-click="activeView = 'cards'")
             a(href="") Карточки
            li(ng-class="{active: activeView == 'groups'}" ng-click="activeView = 'groups'")
             a(href="") Группы
        form.navbar-form
            .form-group
                input.form-control(type="text" placeholder="Поиск" ng-model="search")
            .btn-group
                .btn.btn-default.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    span Сортировать по полю "{{sort.field.title}}"
                    span(ng-click="changeSort(sort.field); $event.stopPropagation()")
                        .glyphicon(ng-class="{'glyphicon-sort-by-attributes': !sort.desc, 'glyphicon-sort-by-attributes-alt': sort.desc}")
                    .caret
                ul.dropdown-menu
                    li(ng-repeat="field in fields" ng-click="changeSort(field)")
                        a(href="#") Сортировать по полю "{{field.title}}"
    table.table.table-striped.table-hover.users-list(ng-if="activeView == 'table'")
        tr
            th.users-table__header(ng-repeat="field in fields" ng-click="changeSort(field)")
                span {{field.title}}
                span
                    .glyphicon(ng-show="sort.field == field"
                        ng-class="{'glyphicon-sort-by-attributes': !sort.desc, 'glyphicon-sort-by-attributes-alt': sort.desc}")
        tr(ng-repeat="user in users | userSearch:search | orderBy: sort.field.id:sort.desc")
            td {{user.name}}
            td {{user.profileLink}}
            td {{user.email}}
            td {{user.group ? groups[user.group-1] : 'Нет группы'}}
            td {{user.phone}}
    .row(ng-if="activeView == 'cards'")
        .col-lg-3.col-md-4.col-sm-6(ng-repeat="user in users | userSearch:search | orderBy: sort.field.id:sort.desc")
            .panel.panel-default
                .panel-heading {{user.name}}
                .panel-body
                    a.thumbnail
                        img(src="img/user.png")
                    div {{user.group ? groups[user.group-1] : 'Нет группы'}}
                    div {{user.phone}}
                    div {{user.email}}
    .row(ng-if="activeView == 'groups'")
        .col-lg-3.col-md-4.col-sm-6(ng-repeat="group in groups track by $index")
            .panel.panel-default
                .panel-heading {{group}}
                .panel-body
                    .panel.panel-default(ng-repeat="user in users | userGroupFilter:$index | userSearch:search | orderBy: sort.field.id:sort.desc")
                        .panel-body
                            div
                                b {{user.name}}
                            div {{user.phone}}
                            div {{user.email}}
