doctype html
html(ng-app='test')
    head
        meta(charset='utf-8')
        title {{pageTitle}}
        base(href="/")
        meta(name='viewport' content='width=device-width, minimal-ui, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

        // build:css /build/app.css
        // bower:css
        // endbower
        // build:insertCss
        // endbuild
        // endbuild

    body
        app-header
        .page.container-fluid
            div(ng-view='' autoscroll='true')

        // bower:js
        // endbower
        // endbuild

        // build:insertJs
        // endbuild
        // endbuild

