.navbar.navbar-inverse.navbar-default.app-header
    .container-fluid
        .nav.navbar-nav
            li(ng-repeat="navLink in navLinks" ng-class="{active: pageTitle == navLink.title}")
                a(ng-href="{{navLink.link}}") {{navLink.title}}
